<h1>{{message}}</h1>
{{!-- <form action="/communitypost">
    <input type="submit" class="createbutton" value="Create Post">
</form> --}}

 <a href="/communitypost" class="createbutton">Create a Post</a>


<div class="communityContainer">
    <div class=" cards">
        <div class="card">
            <h2>EXAMPLE post title: Challenge: 5k run Hoboken Pier in 2 weeks</h2>
            <div class="card__content">
                <p>
                    EXAMPLE post details: Think you're up to the challenge. Recently picked up running and trying to keep improving
                </p>
                <div>Posted by: user</div>
                <div class="card_stats">
                    <div>
                        <p>Likes: </p>
                    </div>
                    <div>
                        <a href="/community" class="Darkblue">Comments</a>
                    </div>
                </div>
            </div>
        </div>
<div class="card">
    {{#if allpost.length}}
    {{#each allpost}}
            <h3>{{postTitle}}</h3>
            <div class="card__content">
                <p>
                    {{post}}
                </p>
                <div>
                        <p>Posted by: {{username}} </p>
                    </div>
                    <div>
                        <p>{{postDate}}</p>
                    </div>
                    
                <div class="card_stats">
                    <div>
                        <form action="/community" method="POST" id="like-post" class="user-post">

             <input class="hidden" name="LikeInputID" id="LikeInput" value={{_id}}>
             <input class="hidden" name="LikeInputname" id="LikeInput1" value={{username}}>
            <button type="submit" class="submission">💙</button>
                        </form>
                    </div>
                    <div>
                        <p id="like-amount">Likes: {{likes}} </p>
                    </div>
                    <div>
                         <a href="/community/{{_id}}" class="Darkblue">Comments</a>
                         <p>
                            <form method="POST" action="/community/{{_id}}">
                                <input name="_method" class="hidden" value="DELETE">
                                <button type="submit">Delete</button>
                            </form>
    
                    </div>
                </div>
            </div>
            {{/each}}
{{/if}}
        </div>

    </div>
</div>
{{!-- This has nothing front end js somewhere --}}
<script src="/public/js/like.js"></script>