<h1>{{message}}</h1>
{{!-- <form action="/communitypost">
    <input type="submit" class="createbutton" value="Create Post">
</form> --}}

 <a href="/communitypost" class="createbutton">Create a Post</a>


<div class="communityContainer">
    <div class=" cards">
        <div class="card">
            <h3>EXAMPLE POST: Challenge: 5k run Hoboken Pier in 2 weeks</h3>
            <div class="card__content">
                <p>
                    Think you're up to the challenge. Recently picked up running and trying to keep improving
                </p>
                <div class="card_stats">
                    <div>
                        <p>Likes: </p>
                    </div>
                    <div>
                        <a href="/community/{{id}}">Comments</a>
                    </div>
                </div>
            </div>
        </div>
<div class="card">
    {{#if allpost.length}}
    {{#each allpost}}
            <h3>{{postTitle}}</h3>
            <div class="card__content">
                <p>
                    {{post}}
                </p>
                <div>
                        <p>{{username}} </p>
                    </div>
                    <div>
                        <p>{{postDate}}</p>
                    </div>
                    
                <div class="card_stats">
                    <div>
                        <form action="/community" method="POST" id="like-post" class="user-post">
            <label type="hidden" for="LikeInputID"></label>
             <input type="hidden" name="LikeInputID" id="LikeInput" value={{_id}}>
             <label type="hidden" for="LikeInputname"></label>
             <input type="hidden" name="LikeInputname" id="LikeInput" value={{username}}>
            <button type="submit" class="submission">💙</button>
                        </form>
                    </div>
                    <div>
                             </a>
                        <p id="like-amount">Likes: {{likes}} </p>
                    </div>
                    <div>
                         <a href="/community/{{_id}}">Comments</a>
                    </div>
                </div>
            </div>
            {{/each}}
{{/if}}
        </div>

    </div>
</div>
<script src="/public/js/like.js"></script>