<h1>{{message}}</h1>
{{!-- <form action="/communitypost">
    <input type="submit" class="createbutton" value="Create Post">
</form> --}}

 <a href="/communitypost" class="createbutton">Create a Post</a>


<div class="communityContainer">
    <div class=" cards">
        <div class="card">
            <h3>Challenge: 5k run Hoboken Pier in 2 weeks</h3>
            <div class="card__content">
                <p>
                    Think you're up to the challenge. Recently picked up running and trying to keep improving
                </p>
                <div class="card_stats">
                    <div>
                        <p>Likes: </p>
                    </div>
                    <div>
                        <a href="/community/{{id}}">Comments</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Challenge: 1k run Hoboken Pier in 2 weeks</h3>
            <div class="card__content">
                <p>
                    Think you're up to the challenge. Recently picked up running and trying to keep improving
                </p>
                <div class="card_stats">
                    <div>
                        <p>Likes: </p>
                    </div>
                    <div>
                        <a href="/community/{{_id}}">Comments</a>
                    </div>
                </div>
            </div>
        </div>
<div class="card">
    {{#if allpost.length}}
    {{#each allpost}}
            <h3>{{postTitle}}</h3>
            <div class="card__content">
                <p>
                    {{post}}
                </p>
                <div>
                        <p>{{username}} </p>
                    </div>
                    <div>
                        <p>{{postDate}}</p>
                    </div>
                <div class="card_stats">
                    <div>
                        <form action="/community" method="POST" id="community" class="user-post" >
                            <button type="submit" class="like-button" id = "like-button">
                            <span class="like-icon">💙</span>
                             Like
                        </button>
                        </form>
                        <p id="like-amount">{{likes}} </p>
                    </div>
                    <div>
                         <a href="/community/{{_id}}">Comments</a>
                    </div>
                </div>
            </div>
            {{/each}}
{{/if}}
        </div>

    </div>
</div>
<script src="/public/js/like.js"></script>