{{!-- <h1>{{message}}</h1> --}}
<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h1>Hello, {{username}}.</h1>
    <a href="/profile/edit">Edit Profile</a>
    <h5 class="mt-3">Your Information</h5>
    <div class="justify-content-left">
        <div>Age: {{age}}</div>
        <div>Height: {{heightFt}} feet {{heightIn}} inches</div>
        <div>Weight: {{weight}}</div>
        <div>Gym/Studio: {{studio}}</div>
        <div>Coach: {{coach}}</div>
        <div>Goals: {{goals}}</div>
    </div>
</div>