<h1>{{message}}</h1>
<div>Hello, {{username}}.</div>
<a href="/profile/edit">Edit Profile</a>
<div>Your Information</div>
<div>Age: {{age}}</div>
<div>Height: {{heightFt}} feet {{heightIn}} inches</div>
<div>Weight: {{weight}}</div>
<div>Gym/Studio: {{studio}}</div>
<div>Coach: {{coach}}</div>
<div>Goals: {{goals}}</div>