<h1 class="header-spacing">{{message}}</h1>
<p class="header-spacing">Here are some sample workouts: </p>
<ul class="display-list">
    {{#each samples}}
        <li class="display-item">
            <h2 class="workout">{{name}}</h2>
            <p class="ital-title">Day of week: {{dayPlanned}}</p>
            <p class="ital-title">Body group: {{bodyGroup}}</p>
            {{#each workout}}
                <h3 class="exercise">Exercise: {{exercise}}</h3>
                <p class="sub-exercise">{{weight}} lb Weight</p>
                <p class="sub-exercise">{{sets}} Sets</p>
                <p class="sub-exercise">{{reps}} Reps each</p>
            {{/each}}
        </li>
    {{/each}}
</ul>
